.wrapper{
  max-width:1000px;
  margin: 0 auto;
}

header{
  margin: 0 auto;
  text-align: center;
}


footer{
  width:100%;
  text-align: center;
  clear: both;
}
.right{
  float:right;
}
.left{
  float:left;
}
.clearfix{
  clear:both;
}